<li style="font-size: 15px">
  <span>ID: <%= customer.id %></span>
  <span>Name: "<%= customer.name %>"</span>
  <span>Phone: "<%= customer.name %>"</span>
  <span>Description: "<%= customer.name %>"</span>

</li>